.nav {
    grid-area: n;
    background-color: greenyellow;
    padding: 20px;
}

.item a {
    color: #b3295f;
    text-decoration: none;
    font-size: 24px;
}

.item a.activeLink {
    color: #0d25c3;
    font-size: 24px;
    margin-right: 100px;
}

.item button {
    font-size: 22px;
}
